<h1>Корзина</h1>

<div id="card">
{{#if courses.length}}
<table>
  <thead>
    <tr>
      <th>Назва курсу</th>
      <th>Кількість</th>
      <th>Дії</th>
    </tr>
  </thead>
  <tbody>
    {{#each courses}}
    <tr>
      <td>{{title}}</td>
      <td>{{count}}</td>
      <td>
        <button class="btn btn-small js-remove" data-id="{{id}}">Видалити</button>
      </td>
    </tr>
    {{/each}}
</table>
<p><strong>Ціна:</strong> <span class="price">{{price}}</span></p>
{{else}}
<p>Курсів поки що немає</p>
{{/if}}
</div>
